:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-grey: #808080FF;
    --color-dark-grey: #4d4d4d;
    --color-light-grey: #7c7979;
    --color-blue: #007DFEFF;
    --color-dark-blue: #442FFFFF;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 550;
    --weight-regular: 400;
    /* radius */
    --border-radius:4px;

}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: sans-serif ;
    cursor: default;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
button {
    background-color: transparent;
    border: none;
    outline: none;
}
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
}
h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-bold);
}

p {
    font-size: var(--font-regular);
    margin: auto;
    color: var(--color-black);
}
/*Nav*/
#navbar {
    background-color: var(--color-pink);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    color: var(--color-white);
    padding: 0 10px;
}
.navbar {
    margin-right: 20px;
}
.navbar__logo {
    margin-left: 10px;
    font-size: var(--font-medium);
    font-weight: var(--weight-bold);
    color: var(--color-white);
}
.navbar__logo a {
    color: var(--color-white);
}
.navbar__items {
    display: flex;
}
.navbar__item {
    margin: 0 12px;
    padding: 10px;
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    border-radius: var(--border-radius);
}
.navbar__item.active, .navbar__item:hover {
    background-color: var(--color-dark-pink);
    transition: all 250ms linear;
}
.navbar__item.active {
    border: 2px solid var(--color-white);
}
/*Home*/
#home {
    background: center/cover no-repeat url("../img/2.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.home__img {
    width: 250px;
    height: 250px;
    border: 1px solid var(--color-white);
    border-radius: 50%;
}
.home__title {
    color: var(--color-white);
}
.home__description {
    color: var(--color-white);
}
.home__btn {
    font-size: var(--font-regular);
    border: 2px solid var(--color-white);
    padding: 7px;
    border-radius: 4px;
    color: var(--border-radius);
    font-weight: var(--weight-bold);
}
.section {
    padding: 50px;
    text-align: center;
    margin: auto;
}
.section_container {
    max-width: 1200px;
    margin: auto;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__majors {
    display: flex;
    justify-content: space-evenly;
}
.major {
    margin: 40px;

}
.about__description {
    text-align: center;
}

.major__icon {
    border: 2px solid var(--color-dark-pink);
    font-size: var(--font-large);
    border-radius: 50%;
    text-align: center;
    width: 150px;
    height: 150px;
    line-height: 150px;
    color: var(--color-pink);
    margin: auto;
}
.major__title {
    margin: 10px 0;
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}
.major__etc {
    font-size: var(--font-regular);
}
.about__careers {
    width: 100%;
}
.career {
    display: flex;
    align-items: center;
}
.career__img {
    text-align: left;
    width: 150px;
    height: 150px;
}
.career__details {
    margin: 0 30px;
}

.career__title, .career__duration {
    text-align: left;
    font-size: var(--font-small);
    font-weight: var(--weight-regular);
}
.about__title {
    margin-top: 0;
}