
.tag {
  background-color: pink;
    display: inline-block;
    font-size: 48px;
    margin-top: 16px;
}

.box {
  width: 400px;
  height: 250px;
  border: 2px solid darkblue;
  background-color: blue;
  margin: 10px;
}
.special {
  background-color: coral;
}